body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,200,255,1) 35%, rgba(230,255,0,1) 100%);
}
/* ------------------------------------------------------ Fonts */
@font-face {
    font-family: "Robot";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}
/* ------------------------------------------------------ Fonts */
/* ------------------------------------------------------ Universal */
.border{
    border: solid 1px black;
}
.row{
    display: flex;
    flex-direction: row;
}
.robotM{
    font-family: Robot;
}
/* ------------------------------------------------------ Universal */
.mainWindow{
    margin: 200px auto;
    width: 550px;
    height: auto;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.password{
    justify-content: center;
}
.password__result{
    width: 70%;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.passtxt{
    width: 100%;
    height: 30px;
    font-family: "Robot";
    font-size: 20px;
    text-align: center;
}
.password__update{
    background-color: #09A7DC;
    width: 10%;
    height: 40px;
    margin-right: 10px;
    justify-content: center;
    border-radius: 5px;
    transition-duration: 300ms;
}
.password__copy{
    background-color: #B3F23B;
    width: 10%;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
    transition-duration: 300ms;
}
.password__update:hover .font1{
    fill: #09A7DC;
}
.password__copy:hover .font2{
    fill: #B3F23B;
}
.password__update:hover{
    background-color: black;
}
.password__copy:hover{
    background-color: black;
}
svg{
    width: 25px;
    transition-duration: 300ms;
}
.font1{
    fill: black;
    transition-duration: 300ms;
}
.font2{
    fill: black;
    transition-duration: 300ms;
}
.lng{
    justify-content: center;
    margin-top: 20px;
}
.length{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.settings{
    justify-content: center;
    margin-top: 10px;
}
label{
    font-family: "Robot";
    font-size: 14px;
}
.uppercase{
    margin-right: 20px;
}
.lowercase{
    margin-right: 20px;
}
.numbers{
    margin-right: 20px;
}
.symbols{
    margin-right: 20px;
}
.btn{
    margin: 20px 0px;
    justify-content: center;
    transition-duration: 300ms;
}
.buttonGen{
    width: auto;
    height: 30px;
    color: white;
    background-color: black;
    border: 0px solid white;
    border-radius: 5px;
    font-family: "Robot";
    transition-duration: 300ms;
}
.buttonGen:hover{
    box-shadow: 0px 0px 7px 8px rgba(0,200,255,1);
    -webkit-box-shadow: 0px 0px 7px 8px rgba(0,200,255,1);
    -moz-box-shadow: 0px 0px 7px 8px rgba(0,200,255,1);
    color: rgba(0,200,255,1);
}
.copyright{
    text-align: center;
    margin-bottom: 20px;
}
a{
    color: black;
    transition-duration: 300ms;
}
a:hover{
    color: red;
}
