@font-face {
    font-family: "calcfont";
    src: url("../fonts/DIGITALDREAMNARROW.ttf");
}
/* Universal------------------------------------------- */
.flx_row{
    display: flex;
    flex-direction: row;
}
.flx_clm{
    display: flex;
    flex-direction: column;
}
.fonts{
    font-size: 50px;
    font-style: arial;
}
/* Universal------------------------------------------- */
.calcBody{
    width: 550px;
    height: auto;
    border: solid 1px grey;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #555658;
}
.calcResult__body{
    width: 500px;
    height: 100px;
    border: solid 2px black;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #BBD0C1;
}
.calcResult{
    width: auto;
    height: 50px;
    font-size: 50px;
    font-family: calcfont;
    text-align: right;
    overflow: scroll;
    margin-top: 45px;
    margin-right: 10px;
}
.resultLog{
    width: 400px;
    height: 75px;
    margin: auto auto;
    font-size: 45px;
    font-style: arial;
}
.calcActions{
    width: 500px;
    height: auto;
    border: solid 1px grey;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}
.calcNumbers{
    width: 350px;
    height: auto;
}
.calcNumbers__item{
    width: 100px;
    height: 100px;
    float: left;
    border: solid 1px grey;
    margin: 10px 0px 0px 10px;
    border-radius: 50px;
    text-align: center;
    font-family: arial;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(93,93,93,1) 100%);
    transition-duration: 200ms;
}
.calcNumbers__item:hover{
    color: white;
    background: rgb(93,93,93);
    background: radial-gradient(circle, rgba(93,93,93,1) 25%, rgba(255,255,255,1) 100%);
}
.calcNumbers__item__equals{
    width: 450px;
    height: 100px;
    float: left;
    border: solid 1px grey;
    margin: 10px 0px 10px 10px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    transition-duration: 200ms;
}
.calcNumbers__item__equals:hover{
    border: solid 7px grey;
}
.calcOperations{
    width: 120px;
    height: 500px;
    align-items: center;
}
.calcOperations__item{
    width: 100px;
    height: 100px;
    border: solid 1px grey;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(93,93,93,1) 100%);
    transition-duration: 200ms;
}
.calcOperations__item:hover{
    color: white;
    background: rgb(93,93,93);
    background: radial-gradient(circle, rgba(93,93,93,1) 25%, rgba(255,255,255,1) 100%);
